@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --brand: rgb(133, 136, 246);
}

body {
  font-family: "Roboto", sans-serif;
}

select,
input {
  font-family: "Roboto", sans-serif;
  border: transparent;
  border-bottom: 2px solid var(--brand);
}

input {
  border-radius: 0.2rem;
  height: 40px;
  box-shadow: 0px 7px 10px -2px #61616125;
  padding: 0.4rem 0.8rem;
  background-color: rgba(240, 240, 240, 0.421);
}

label {
  font-weight: 500;
  color: rgb(73, 73, 73);
  font-size: 0.9rem;
}

.date-field {
  /* margin-top: 20rem; */
  width: 300px;
}
